<!Doctype html>
<html>
<head>
  <title>Interface Homme Machine</title>
</head>
<body>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Gestion</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/vente">Vente<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/commande">Commandes</a>
      <a class="nav-item nav-link" routerLink="/stock">Stocks</a>
    </div>
  </div>
</nav>
  <p style="color: red;margin-top:30px">Bilan des ventes</p>
<div  class="row">

  <table class="table table-bordered container">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Jan-2020</th>
      <th scope="col">Fev-2020</th>
      <th scope="col">Mars-2020</th>
      <th scope="col">Avril-2020</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Pull</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Chemises</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Chaussettes</th>
      <td ></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Vestes</th>
      <td ></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-secondary btn-lg" style="margin-left: 75%">Imprimer</button>
  <button type="button" class="btn btn-secondary btn-lg" style="margin-left: 1%">Envoyer</button>

</div>

</div>
</body>
</html>

