<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Bibliotheque</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/signin">Se Connecter <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/signup">S'Inscrire</a>
      </li>


    </ul>
  </div>
</nav>
<div class="container" >
  <button style="margin-left: 8px; margin-top: 20px;" routerLink="/about" type="button" class="btn btn-primary">About</button>--}}
  <button style="margin-left: 8px;margin-top: 20px;" routerLink="/produits"  type="button" class="btn btn-primary">Produits</button>
  <button style="margin-left: 8px;margin-top: 20px;" routerLink="/galery"  type="button" class="btn btn-primary">Galery</button>
   <button style="margin-left: 8px;margin-top: 20px;" routerLink="/signin"  type="button" class="btn btn-primary">Se Connecter</button>
   <button style="margin-left: 8px;margin-top: 20px;" routerLink="/signup"  type="button" class="btn btn-primary">S'Inscrire</button>
</div>-->
<div>
  <router-outlet></router-outlet>

</div>


